* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body {
    font-family: 'Quicksand', sans-serif;
    /* display: flex;
    flex-direction: column; */
    background-color: #B9B4C7;

}
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap');
/* body {
    margin: 0 200px 0 200px;
} */
.border-debug {
    border: 1px solid red;
}
/* ================================== */
header{
    display: inline;
}
nav {
    padding: 5px;
    position: sticky;
    top: 0;
    display: flex;
    background-color: #5C5470;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
}
.nav-icon{
    display: flex;
    align-items: center;
    font-size: 3rem;
    border-radius: 50%;
    padding: 20px;
    color: #FAF0E6;
}
nav ul {
    padding-inline: 4rem;
    display: flex;
    align-items: center;
    gap: 2rem;
}
nav ul li {
    list-style-type: none;
} 
nav ul li a{
    text-decoration: none;
    font-size: 1.5rem;
    color: #FAF0E6;
}
nav ul li a:hover {
    color: #B9B4C7;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: #B9B4C7;
}
main {
    padding-top: 4vh;
    height: 96vh;
    margin: 0 10rem;
    display: flex;
    gap: 1.5rem; 
}
.main-content {
    flex: 5;
    align-self: center;
    text-align: center;
    color: #352F44;
}
.title {
    font-weight: 600;
}
.my-name{
    font-size: 3rem;
    text-align: center;
}
.main-content article p {
    text-align: center;
    font-size: 1.75rem;
    margin-bottom: 1rem;
    font-weight: 500;
}
.side-content{
    flex: 3; 
    margin: auto 0;
}
.profile-pic{
    border-radius: 20%;
    box-shadow: 2px 4px 8px 4px rgba(0, 0, 0, 0.2);
    height: 400px;
    width: 400px;
}
#social-container{
    display: flex;
    justify-content: center;
    margin-top: 1.1rem;
    gap: 1rem;
}
#social-container a{
    color: #352F44;
    font-size: 2rem;
}
.btn-container{
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.btn {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
}
.btn-color-1, .btn-color-2{
    border: #352F44 0.1rem solid;   
}
.btn-color-1:hover, .btn-color-2:hover{
    cursor: pointer;
}
.btn-color-1, .btn-color-2:hover{
    background: #5C5470;
    color: #FAF0E6;
}
.btn-color-1:hover {
    background: #352F44;
}
.btn-color-2 {
    background: none;
    color: #352F44;
}
.btn-color-2:hover {
    border: rgb(255,255,255) 0,1rem solid;
}
footer {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    background-color: #352F44;
    color: #FAF0E6;
}

@media screen and (max-width: 1096px) {
    main {
        flex-direction: column;
    }
    .side-content {
        display: flex;
        justify-content: center;
        order: -1;
    }    
    .main-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media screen and (max-width: 746px){
    .profile-pic{
        width: 320px;
        height: 320px;
    }
    nav ul li a{
        font-size: 1.2rem;
    }
    .nav-icon {
        font-size: 2.1rem;
    }
    main{
        min-height: fit-content;
    }
    .title{
        font-size: 1.3rem;
    }
    .my-name{
        font-size: 2.5rem;
    }
    .main-content p {
        font-size: 1.25rem;
    }
}

@media screen and (max-width: 627px){
    .nav-icon {
        display: none;
    }
    nav ul{
        gap: 1rem;
    }
    nav ul li a{
        font-size: 1rem;
    }
}


@media screen and (max-width: 450px) {
    .nav-icon {
        display: none;
    }
    nav ul{
        gap: 1rem;
    }
    nav ul li a{
        font-size: 0.7rem;
    }
    .profile-pic{
        width: 280px;
        height: 280px;
    }
    footer{
        font-size: 0.7rem;
        text-align: center;
    }
}